<h1>Livros disponíveis:</h1>
<div class="books-container">
  <div class="text-box">
    <a href="/" class="btn btn-green btn- animate">New book</a>
  </div>
  {{#each books}}
    <div>
      <table border="1" align="center">
        <tbody>
          <td>#{{this.id}}
            -
            <span class="bold"><a href="/books/{{this.id}}"><img class="img-book"
                  src="https://cdn.icon-icons.com/icons2/936/PNG/512/book_icon-icons.com_73655.png"
                  alt="Livro"
                /></a>{{this.title}}</span>
            -
            {{this.pageqty}}
            páginas</td>
        </tbody>
      </table>
    </div>
  {{/each}}
</div>