* {
  font-family: Helvetica;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 28px;
  font-weight: bolder;
}

label {
  font-weight: bold;
}

.form,
.books-container {
  width: 450px;
  margin: 0 auto;
}

.form-border {
  position: inherit;
  text-align: center;
  border-radius: 5px;
  border: 0px;
}

.buttonClass {
  font-size: 15px;
  font-family: Arial;
  width: 140px;
  height: 50px;
  border-width: 1px;
  color: #fff;
  border-color: #18ab29;
  font-weight: bold;
  border-top-left-radius: 28px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 28px;
  border-bottom-right-radius: 28px;
  text-shadow: 1px 1px 0px #2f6627;
  background: #44c767;
}

.buttonClass:hover {
  background: #5cbf2a;
}

/* BOOKS */

.books-container div {
  padding: 5px;
  margin: 5px;
}

.bold {
  font-weight: bold;
}

.text-box {
  margin-left: 44vw;
  margin-top: 42vh;
  position: relative;
  right: 500px;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-green {
  background-color: #44c767;
  color: white;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn-white::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* IMG BOOK */

.img-book {
  width: 20px;
  margin-right: 5px;
}

.back-anchor {
  background-color: blueviolet;
  color: white;
  display: block;
  border-radius: 5px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #2f6627;
  width: 100px;
  height: 34px;
  text-align: center;
  text-decoration: none;
  bottom: 39px;
  position: relative;
  right: 40px;
}

#book-page {
  padding: 2em;
}

#book-page .container {
  text-align: center;
}

nav {
  width: 100%;
  height: 35px;
  display: flex;
  position: fixed;
  background-color: #2d3436;
  align-items: center;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  left: 200px;
}

nav li {
  float: left;
  list-style: none;
  margin-left: 30px;
}

